<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">Notes
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>
       <form class="nav cl-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0" role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="search..." aria-label="search">
       </form>
        <div class="text-end">
          <a href="/logout" type="button" class="btn btn-outline-light">LogOut</a>
        </div>
      </div>
    </div>
  </header>